.messages__container {
    display: flex;
    align-items: center;
    flex: 0.95;
    border-bottom: 1px solid rgb(235, 234, 234);
    position: relative;
    width: 100%;
}

.message__leftMiddle {
    display: flex;
    width: 100%;
}


.messages__left {
    display: flex;
    align-items: center;
    padding-left: 3px;
}

.icon__container {
    margin-right: -10px !important;
    width: 40px !important;
    height: 40px !important;
}

.icon__container1 {
    padding-left: 0px !important;
    width: 40px !important;
    height: 40px !important;
    margin-right: -5px !important;

}

.icon1 {
    visibility: hidden;
}

.icon11 {
    color: rgb(190, 188, 188);
    width: 18px !important;
    height: 18px !important;
    margin-right: 0 !important;
}



.icon222 {
    color: rgb(214, 212, 212);
    width: 18px !important;
    height: 18px !important;
    margin-left: -4px !important;
}
.icon222222 {
    color: rgb(97, 96, 96);
    width: 18px !important;
    height: 18px !important;
    margin-left: -4px !important;
}

.icon22 {
    color: rgb(214, 212, 212);
    width: 18px !important;
    height: 18px !important;
}

.icon2222 {
    color: rgb(97, 96, 96);
    width: 18px !important;
    height: 18px !important;
}

.messages__left h4 {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}

.messages__middle {
    
    width:calc(60%);
    /* display: flex;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    font-size: 14px;
    font-weight: 600;
    margin-left: 76px;
    margin-right: 10px; */
   
}

.m__subject {
    display: none;
}

.dash {
    display: none;
}

.m__content {
    display: none;
}

.m__desktop {
    font-size: 14px;
    font-weight: 600;
    margin-left: 76px;
    text-overflow:ellipsis;
    flex-wrap: wrap;
    /* display: flex; */
    width:calc(90%);
    white-space: nowrap;
    overflow: hidden;
    /* background-color: red; */
}


.messages__middle span {
    font-size: 14px;
    font-weight: 400;
}

.messages__end {
    position: absolute;
    right: 20px;
}

.messages__end2 {
    display: none;
}
.messages__end h4 {
    font-weight: 600;
    font-size: 13px;
}

.messages__endIcons {
    display: none;
}

.messages__endIcons2 {
    position: absolute;
    right: 10px;
    
}

.icon5 {
    color: rgb(97, 96, 96);
    width: 18px !important;
    height: 18px !important;
}

.end__iconButton {
    width: 35px !important;
    height: 35px !important;
}

.mobileTime {
    display: none;
}


@media (max-width: 1580px) {
    .desktopTime {
        display: none;
    }

    .mobileTime {
        display: block;
    }
}

@media (max-width: 1278px) {
    .icon__container {
        display: none !important;
    }
}

@media (max-width: 951px) {
    .m__desktop {
        display: none;
    }
    .m__subject {
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-left: 76px;
        text-overflow:ellipsis;
        flex-wrap: wrap;
        width:calc(80%);
        white-space: nowrap;
        overflow: hidden;
    
    }
    .m__content {
        display: block;
        font-size: 14px;
        font-weight: 400;
        margin-left: 76px;
        text-overflow:ellipsis;
        flex-wrap: wrap;
        width:calc(80%);
        white-space: nowrap;
        overflow: hidden;
    }
}

/* @media (max-width: 770px) {
    .m__content {
        width: calc(72%);
    }

    .m__subject {
        width: calc(72%);
    }
} */


@media (max-width: 850px) {
    .messages__endIcons2 {
        display: none;
    }
}

@media (max-width: 795px) {
    .message__leftMiddle {
        flex-direction: column;
    }

    .m__content {
        margin-left: 48px;
        width: calc(90%);
    }
    .m__subject {
        margin-left: 48px;
        width: calc(90%);
    }

}

@media (max-width: 795px) {
    .messages__endIcons2 {
        display: none;
    }
}

