.app {
    background: #f6f8fc;
}


.app__container {
    background-color: #f6f8fc;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    
}

.body {
    display: flex;
    width: 100%;
    /* background-color: black; */
}
