.mailContentOptions__container2 {
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 65px;
    margin-right: -12px;
    z-index: 0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    display: none;

}

.mailContentOptions__container22{
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 65px;
    z-index: 0;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.ticon__button11 {
    width: 40px !important;
    height: 40px !important;
}
.ticon__button222 {
    width: 40px !important;
    height: 40px !important;
}
.ticon__button3 {
    width: 40px !important;
    height: 40px !important;
}

.ticon {
    width: 18px !important;
    height: 18px !important;
    color: rgb(100, 100, 100);
    padding: 5px;
}


.border__right {
    border-right: 0.2px solid rgb(229, 228, 228);
    height: 20px;
    margin: 0 10px;
}


@media(max-width: 738px) {
    .mailContentOptions__container2 {
        display: flex;
    }
    .ticon__button11 {
        display: none !important;
    }

    .border__right {
        display: none;
    }

    .ticon {
        padding: 0;
    }
}

@media (max-width: 332px) {
    .ticon__button222 {
        display: none !important;
    }
}
