.mailContent__container {
    flex: 0.98;
    background-color: #ffffff;
    margin-left: 0;
    margin-right: 60px;
    border-radius: 20px;
    width: 100%;
    min-height: 91vh;
}

.mailContent__extend {
    flex: 0.98;
    background-color: #fff;
    /* background-color: red; */
    padding-left: 0;
    margin-right: 84px;
    border-radius: 20px;
    width: 100%;
    min-height: 91vh;
    margin-left: auto;
}

.top__part {
    display: flex;
    align-items: center;
    margin-left: 8px;
    position: sticky;
    top: 65px;
    background-color: #fff;
    z-index: 997;
    
}

.mailContent__top1 {
    margin-right: 11px;
    border-radius: 10px;
}
.mailContent__top2 {
    margin-right: 11px;
    border-radius: 10px;
}

.body__right2 {
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
}

.mail__subject {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 42px;
    align-items: center;
    margin-top: 20px;
}

.subject__left {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(137, 137, 144); */
}

.subject__left h4 {
    font-size: 22px;
    font-weight: 450;
}

.label__important {
    width: 18px !important;
    height: 18px !important;
}

.buttonss {
    display: flex;
    align-items: center;
    background-color: rgb(215, 213, 213);
    border-radius: 5px;
}

.buttonss h4 {
    font-size: 12px;
    padding: 0 3px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
}

.buttonss h4:hover {
    background-color: rgb(88, 88, 88);
    color: #fff;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

.buttonss h3 {
    font-size: 12px;
    font-weight: 400;
    padding: 0 5px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
}

.buttonss h3:hover {
    background-color: rgb(88, 88, 88);
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}


.subject__right {
    display: flex;
    align-items: center;
}

.print {
    width: 18px !important;
    height: 18px !important;
}

.open__newTab {
    width: 18px !important;
    height: 18px !important;
}

.sender {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 40px 0 12px;
    
}

.sender__details {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.sender__avatar {
    color: #4374e0 !important;
    background-color: #a0c3ff !important;
}

.sender__info {
    margin-left: 15px;
}

.sender__info h4 {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.sender__info span {
    font-size: 12px;
    color: gray;
    font-weight: 400;
}

.receiver {
    display: flex;
    align-items:flex-start;
    margin-top: 5px ;
}

.receiver__button {
    border-radius: 5px !important;
    width: 19px !important;
    height: 19px !important;
}

.receiver__dropDown {
    width: 18px !important;
    height: 18px !important;
}

.receiver h3 {
    font-size: 12px;
    color: gray;
    font-weight: 400;
}

.time {
    display: flex;
    /* background-color: brown; */
    align-items: center;
}

.time h4 {
    font-size: 12px;
    color: gray;
    font-weight: 400;
    margin-right: 10px;
}

.mail__body p {
    margin-left: 70px;
    margin-right: 4%;
    flex: 1;
    margin-top: 1%;
    font-size: 13px;
}


@media (max-width: 1100px) {
    .mailContent__extend {
        /* margin-right: 0; */
        /* margin-left: 0; */
        margin: auto;
        flex: 0.96;
    }

    .mailContent__container {
        margin: auto;
        /* flex: 0.88; */
        flex: 0.96;
    }

    .body__right2 {
        right: 30px;
    }
}

@media (max-width: 738px) {
    .body__right2 {
        display: none;
    }

    .sender__info span {
        display: none;
    }
    
    .mail__subject {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        width: 93%;
    }

    .top__part {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        width: 98%;
        justify-content: space-between;
    }

    .sender {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        width: 93%;
    }

    .mail__body {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        width: 93%;
        
    }

    .mail__body p {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        
    }

    .mailContent__middle2 {
        display: none;
    }

    .mailContent__top2 {
        display: none;
    }

    .label__button {
        display: none !important;
    }

    .subject__right {
        display: none !important;
    }

    .subject__left {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 547px) {
    .mailContent__container {
        flex: 0.96;
    }

    .mailContent__extend {
        flex: 0.96
    }
}